.TodoList{
width: 400px;
}

.TodoList__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #f0f0f0;
}

.TodoList__text{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}